{% extends "base.html" %}
{% block tldr %}</br>Hold combat until 19:00 UTC.</br>Hold deployments until 23:00 UTC.{% endblock %}
{% block goals %}
<p><b>Goals for P6:</b> Complete 2/6 in all platoons, 1* all areas.</p>
{% endblock %}
{% block strat %}
<p><b>P6 order of operations:</b> Platoons, normal combat, deployment.</p>
<p><b>Platoons (P6):</b> Assign as many characters to platoons as you can without affecting your Combat missions. If you see your name in the list below for a needed character, please platoon that character. <b>The suggestions may not cover all platoons. You may need to platoon additional characters.</b> See #territory-battles for specific platoon advice prior to 19:00 UTC. <b>NB:</b> The ship platoons affect combat in both the middle and bottom area. The platoons in the middle affect battle in the middle area. The platoons in the bottom are affect combat in the bottom area. You <b>may</b> want to wait until at least 2 platoons are completed in each area before beginning combat.</p>
<h3>Hold all combat for 2 hours, until 19:00 UTC.</h3>
<p><b>Combat (P6):</b> Complete all the combat missions. <b>NB:</b> In the middle area there is a combat mission that requires Rebels, and a combat mission that requires Rogue One</p>
<h3>Hold deployments for 6 hours, until 23:00 UTC.</h3>
<p><b>Deployment (P6):</b> Deploy all your ships. Then deploy all your characters to the bottom area until we hit 1*. Then deploy to the middle area.</p>
{% endblock %}
